@{
    ViewData["Title"] = "Administracion de Reglas";
}
<h1>@ViewData["Title"]</h1>



<link rel="stylesheet" href="https://cdn.datatables.net/1.10.6/css/jquery.dataTables.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="text-center">
    <div id="pnlTableSocialProgram" class="panel-body">
        <div class="table-responsive">
            <table id="tblAdminRules" class="display">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Parametro</th>
                        <th>Descripcion</th>
                        <th>Activo</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script src="~/js/adminRules.js" asp-append-version="true"></script>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" />
