@{
    ViewData["Title"] = "Lista de Elegibles";
}
<h1>@ViewData["Title"]</h1>


<link rel="stylesheet" href="https://cdn.datatables.net/1.10.6/css/jquery.dataTables.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="text-center">
    <div id="pnlTableSocialProgram" class="panel-body">
        <div class="table-responsive">
            <table id="tblSocialProgramElegible" class="display">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Primer Apellido</th>
                        <th>Segundo Apellido</th>
                        <th>Email</th>
                        <th>Programa</th>
                        <th>Fecha</th>
                        <th>Monto</th>
                        <th>IBAN</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" />
